@using Derin.Business.ViewModel.Administration
@{
    ContactUsVM contactUs = ViewBag.ContactUs;

    string area = this.ViewContext.RouteData.Values["area"].ToString();
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
}

<header class="header_area">
    
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img style="height:120px" src="/frontend/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item @(controller == "Home" ? "active" : "")"><a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "Main" })">ANASAYFA</a></li>
                        <li class="nav-item @(controller == "AboutUs" ? "active" : "")"><a class="nav-link" href="@Url.Action("Index", "AboutUs", new { Area = "Main" })">HAKKIMIZDA</a></li>
                        <li class="nav-item @(controller == "Project" ? "active" : "")"><a class="nav-link" href="@Url.Action("Index", "Project", new { Area = "Main" })">PROJELİRİMİZ</a>
                        <li class="nav-item @(controller == "Gallery" ? "active" : "")"><a class="nav-link" href="@Url.Action("Index", "Gallery", new { Area = "Main" })">GALERİ</a>
                        <li class="nav-item @(controller == "ContactUs" ? "active" : "")"><a class="nav-link" href="@Url.Action("Index", "ContactUs", new { Area = "Main" })">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
