<!DOCTYPE html>
<html lang="en">
<head>
    <title>Der-in İnşaat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/frontend/css/bootstrap.css">
    <link rel="stylesheet" href="/frontend/vendors/linericon/style.css">
    <link rel="stylesheet" href="/frontend/css/font-awesome.min.css">
    <link rel="stylesheet" href="/frontend/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/frontend/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/frontend/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/frontend/vendors/animate-css/animate.css">
    <link href="~/lib/dentalicons/style.css" rel="stylesheet" />
    <!-- main css -->
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link rel="stylesheet" href="/frontend/css/responsive.css">
    @RenderSection("pageLevelStyles", required: false)
    @RenderSection("pageLevelInlineStyles", required: false)
    <style>
    </style>

</head>
<body>


    <!-- ***** Header Area Start ***** -->
    @Html.Partial("~/Views/Shared/Home/_Header.cshtml")
    <!-- ***** Header Area End ***** -->
    @RenderBody()
    <!-- ***** Blog Area End ***** -->
    <!-- ***** Footer Area Start ***** -->
    @Html.Partial("~/Views/Shared/Home/_Footer.cshtml")
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->

    <script src="/frontend/js/jquery-3.2.1.min.js"></script>
    <script src="/frontend/js/popper.js"></script>
    <script src="/frontend/js/bootstrap.min.js"></script>
    <script src="/frontend/js/stellar.js"></script>
    <script src="/frontend/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/frontend/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/frontend/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/frontend/vendors/isotope/isotope-min.js"></script>
    <script src="/frontend/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/frontend/js/jquery.ajaxchimp.min.js"></script>
    <script src="/frontend/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/frontend/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/frontend/js/mail-script.js"></script>
    <script src="/frontend/js/theme.js"></script>
    <script>
        jQuery(document).ready(function () {
            $(".booking-btn").click(function () {
                scrollToAnchor($(".bookingContent"))
            })
            function scrollToAnchor(html) {
                $('html,body').animate({ scrollTop: html.offset().top - 150 }, 'slow');
            }
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150905512-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150905512-1');
    </script>

    @RenderSection("pageLevelPlugins", required: false)
    @RenderSection("pageLevelScripts", required: false)
    @RenderSection("pageLevelInlineScripts", required: false)

</body>
</html>