@{
    ContactUsVM contactUs = ViewBag.ContactUs;
    List<PersonVM> person = ViewBag.Persons;
    List<ServicesVM> services = ViewBag.Services;
    List<ProjectVM> projects = ViewBag.Project;
    AboutUsVM aboutUs = ViewBag.AboutUs;
}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h3>Build Your <span>Dream</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            </div>
        </div>
    </div>
</section>
<!--================Feature Area =================-->
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Hizmetlerimiz</h2>
        </div>
        <div class="row feature_inner">
            @foreach (var item in services)
            {
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="feature_item h-100 mb-0 d-inline-block">
                        @*<h4><i class="@item.Icon"></i>@item.Title</h4>*@
                        <h4>@item.Title</h4>
                        <p>
                            @item.Summary
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<!--================End Home Banner Area =================-->
<!--================Builder Image Area =================-->
<seciton class="builder_area">
    <div class="row m0 builder_inner">
        @foreach (var item in projects)
        {
            var base64 = Convert.ToBase64String(item.Picture);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <div class="builder_item">
                <img src="@imgSrc" alt="">
                <div class="hover">
                    <h4>@item.Title</h4>
                    <p>@item.Detail</p>
                </div>
            </div>
        }

        <div class="builder_item">
            <img src="~/frontend/img/builder/builder-2.jpg" alt="">
            <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
            </div>
        </div>
        <div class="builder_item">
            <img src="~/frontend/img/builder/builder-3.jpg" alt="">
            <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
            </div>
        </div>
        <div class="builder_item">
            <img src="~/frontend/img/builder/builder-4.jpg" alt="">
            <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
            </div>
        </div>
        <div class="builder_item">
            <img src="~/frontend/img/builder/builder-5.jpg" alt="">
            <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
            </div>
        </div>
        <div class="builder_item">
            <img src="~/frontend/img/builder/builder-6.jpg" alt="">
            <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
            </div>
        </div>
    </div>
</seciton>
<!--================End Builder Image Area =================-->
<!--================Clients Logo Area =================-->
<section class="clients_logo_area p_120">
    <div class="container">
        <div class="clients_slider owl-carousel">
            <div class="item">
                <img src="~/frontend/img/clients-logo/c-logo-1.png" alt="">
            </div>
            <div class="item">
                <img src="~/frontend/img/clients-logo/c-logo-2.png" alt="">
            </div>
            <div class="item">
                <img src="~/frontend/img/clients-logo/c-logo-3.png" alt="">
            </div>
            <div class="item">
                <img src="~/frontend/img/clients-logo/c-logo-4.png" alt="">
            </div>
            <div class="item">
                <img src="~/frontend/img/clients-logo/c-logo-5.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Clients Logo Area =================-->